@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300; /* Тонкое начертание Light */
  line-height: 1.5;
  color: #102A43;
  background-color: #F0F7FF;
  min-height: 100vh;
  padding-bottom: 128px;
}

p {
  font-weight: 400; /* Обычное начертание Regular */
}

h1, h2 {
  font-weight: 500; /* Полужирное начертание Medium */
  line-height: 1.3;
}

h1 {
	/* font-size: 50px; */
	font-size: clamp(22px, 3.4vw, 55px)
}

h2 {
	font-size: 22px;
}

a {color: #102A43;}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  
  /* Растягиваем по ширине, высота — какая получится по пропорциям */
  background-image: url("../img/background.jpg");
  background-size: 100% auto; 
  background-repeat: no-repeat;
  background-position: top center;
  z-index: -1;

  /* Высота фона будет зависеть от ширины экрана и пропорций картинки */
  /* Используем aspect-ratio вашей картинки (например, 16/9 или 4/3), 
     чтобы браузер заранее знал высоту фона */
  aspect-ratio: 815 / 768; 
  height: auto;
  min-height: 100vh;

  animation: move-bg linear both;
  animation-timeline: scroll(root);
}

@keyframes move-bg {
  from { transform: translateY(0); }
  /* Докручиваем фон до его нижнего края */
  to { transform: translateY(calc(100vh - 100%));
  }
}

header, main, section, footer {
  max-width: 80%; /* не шире экрана на мобильных */
  margin: 12px auto; /* центрирование */
  padding: 2.46vw; /* отступы по бокам */
  background: #E1EFFAF8;
  border-radius: 2vw;
  box-shadow: 0 0 3px rgba(0,0,0,0.4);
}

header {
  position: sticky;
  top: 10px;
  z-index: 1001; /* Чтобы меню было поверх остального контента */
  box-shadow: 0 0 12px rgba(0,0,0,0.25);
  width: fit-content;
  margin: 0 auto;
  padding: 8px;
  border-radius: 8px;
}

.contacts-top {
	display: flex;
	align-items: center;
	justify-content: center; /* центрирование по горизонтали */
	gap: 35px;
}

.btn-header {
	background-color: #2468A2;
	color: #FFFFFF;
	border-radius: 25px; /* Закругленные углы (50% сделали бы его почти кругом) */
    padding: 10px 20px; /* Отступы внутри кнопки */
    transition: all 0.3s ease; /* Плавный переход при наведении */
	font-weight: 500;
    font-size: 16px;
}

.btn-header:hover {
	background-color: #3077b7;
}

nav {
  @supports (corner-shape: squircle) {
    border-radius: 24px;
    border-shape: squircle;
  }

  ul:has(:not(:hover)) {
    anchor-name: --test;
  }

  &::before {
    background-attachment: fixed;
    background-color: #C8DFF0;
  }

  &::after {
    backdrop-filter: blur(2px);
    background-color: hsl(200 100% 100% / 0.1);
    z-index: -1;
  }

  & > ul {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      z-index: -3;
      inset: -8px;
      border-radius: 8px;

      @supports (corner-shape: squircle) {
        border-radius: 24px;
        corner-shape: squircle;
      }
      backdrop-filter: blur(2px);
    }
  }

  &::before,
  &::after {
    content: "";
    border-radius: 8px;

    position-anchor: --test;
    position: absolute;
    top: calc(anchor(bottom) - 4px);
    left: calc(anchor(left) + 1rem);
    right: calc(anchor(right) + 1rem);
    bottom: anchor(bottom);

    transition: 500ms;
    transition-timing-function: linear(
      0,
      0.008 1.1%,
      0.031 2.2%,
      0.129 4.8%,
      0.257 7.2%,
      0.671 14.2%,
      0.789 16.5%,
      0.881 18.6%,
      0.957 20.7%,
      1.019 22.9%,
      1.063 25.1%,
      1.094 27.4%,
      1.114 30.7%,
      1.112 34.5%,
      1.018 49.9%,
      0.99 59.1%,
      1
    );
  }

  &:has(a:hover)::before,
  &:has(a:hover)::after {
    @supports (corner-shape: squircle) {
      corner-shape: squircle;
      border-radius: 50%;
    }
    top: anchor(top);
    left: anchor(left);
    right: anchor(right);
  }

  &:has(li:first-of-type a:hover)::before,
  &:has(li:first-of-type a:hover)::after {
    @supports (corner-shape: squircle) {
      border-radius: 32px 50% 50% 32px;
    }
  }

  &:has(li:last-of-type a:hover)::before,
  &:has(li:last-of-type a:hover)::after {
    @supports (corner-shape: squircle) {
      border-radius: 50% 32px 32px 50%;
    }
  }

  > ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
  }

  a {
    display: block;
    padding: 1rem;
    text-decoration: none;

    &:hover {
      position: relative;
      anchor-name: --test;
    }
  }
}

main {
	text-align: center;
	padding-top: 0.85vw;
}

.main-examples {
	display: flex;
	justify-content: space-between;
	gap: 10px;               /* Расстояние между картинками */
    width: 100%;             /* Контейнер занимает всю доступную ширину */
	margin-bottom: 10px;
}

.main-examples-container {
	width: 25%; /* Ширина каждого внутреннего div (примерно четверть) */
	box-sizing: border-box;
}

.main-examples-container img {
	width: 100%;
	/*min-width: 150px;*/
	aspect-ratio: 1 / 1; /* Делает элемент квадратным (современный подход) */
	border-radius: 24px;
	box-shadow: 0 0 2px rgba(0,0,0,0.15);
}

.main-advantages {
	display: flex;
	justify-content: space-between;
	background-color: #F0F7FF;
	border-radius: 24px;
	box-shadow: 0 0 2px rgba(0,0,0,0.15);
}

.main-items {
	width: 30%; /* Ширина каждого внутреннего div (примерно треть) */
	padding: 10px;
	box-sizing: border-box;
}

.main-img-bullets {
	/*width: 100%;*/
	/* max-width: 150px; */
	width: 35%;
    aspect-ratio: 1 / 1; /* Делает элемент квадратным (современный подход) */
	border-radius: 16%;
	box-shadow: 0 0 2px rgba(0,0,0,0.15);
}

.main-items-title {
	font-weight: 500;
}

@media (max-width: 1370px) {
	/* .main-img-bullets { */
		/* max-width: 125px; */
	/* } */
	/* h1 { */
		/* font-size: clamp(22px, 3.4vw, 50px); */
	/* } */
	h2 {
		font-size: clamp(11px, 2vw, 22px);
	}
}

@media (max-width: 1024px) {
	body {
		font-size: 12px;
	}
	/* h1 { */
		/* font-size: clamp(22px, 4vw, 48px); */
	/* } */
	/* h2 { */
		/* font-size: clamp(11px, 3vw, 20px); */
	/* } */
	.main-examples {
		flex-wrap: wrap; /* Разрешаем перенос на новую строку */
	}
	.main-examples-container {
		width: 47%;
	}
	.main-img-bullets {
		width: 45%;
	}
}

@media (max-width: 768px) {
	body {
		font-size: 11px;
	}
	/* h1 { */
		/* font-size: 36px; */
	/* } */
	/* h2 { */
		/* font-size: 18px; */
	/* } */
	/* .main-img-bullets { */
		/* width: 50%; */
	/* }	 */
}

@media (max-width: 640px) {
	header {
		display: none;
	}
}

@media (max-width: 430px) {
	body {
		font-size: 7px;
	}
	/* h1 { */
		/* font-size: 25px; */
	/* } */
	/* h2 { */
		/* font-size: 11px; */
	/* } */
	/* .main-img-bullets { */
		/* max-width: 50px; */
	/* } */
}
